footer{
    width: 100%;
    padding: 50px 0px;
    background-color: #2f607c;
    height: 15vh;

}

.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.copy{
    padding-top: 5%;

}

@media screen and (max-width:800px) {}