    
@mixin fonts1 ($color,$size) {
    color:$color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size;
    text-align:left;
}
    
@mixin fonts2 ($color,$size) {
    color:$color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size;
    text-align:justify;
}

@mixin fonts3 ($color,$size) {
    color:$color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size;
    text-align:left;
}

h1{
    @include fonts1(#1d5270, 50px)
}
h2{
    @include  fonts1(#1d5270,30px)
}
p{
    @include fonts2(#1d5270, 15px)
}

h3{
    @include fonts3(#dddddd,40px )
}

/*SET*/
*{  
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*SET*/





/*MID  INDEX*/
.main{
    padding-top: 150px;
    min-height:100vh;
    width: 90%;
    max-width: 100%;
    margin: 1.6em auto;
    display: grid;
    gap:1.6em;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
    justify-content: center;
}

.main > .title{
    padding: 30px;
    
    grid-column: span 2 ;
}
.main > .slider{
    padding: 30px;

    grid-column: span 2;
    
}

.main > .about{
    padding: 30px;
    
    grid-column: span 2;
 
}
.main > .foto{
    padding: 30px;
    grid-column: span 2;
    width: 70%;

}




@media screen  and(max-width:800px){
    .main > .title,
    .main > .slider,
    .main > .about,
    .main > .foto{
        grid-column: 1/-1;
    }

    
}


    
/*MID INDEX*/
    
    /*MID PROYECTOS*/
    .mainP{
        display: grid;
        grid-template-columns: auto auto  auto  auto;
        padding: 5%
       
    }
    
    /*MID PROYECTOS*/
    
    /*MID SKILLS*/
    .midS{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10%;
        
        
    }
    /*MIDSKILLS*/
    
    
    /*MID CONTACTO*/
    .midC {
        display: grid;
        grid-template-columns: auto auto;
        padding: 5%
       
    
    }
    /*MID CONTACTO*/
    
    /*MID DESCARGAS*/
    .midD{
        display: grid;
        grid-template-columns: auto auto;

        padding:5%
        
    }
    
    /*MID DESCARGAS*/
    
    
